@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  padding: 0;
  margin: 0;
  outline: 0;
}

.lovebg{
  background: url(https://img.freepik.com/premium-photo/image-heartshaped-kaleidoscope-with-lot-hearts-various-colors_724548-6937.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}